<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Sayan/IdeaProjects/JobsProfilesUpdateUAE"><classes><class name="org.TestRunner.testWebSites"><methods><include name="indeedWebsiteTest"/></methods></class></classes></test></suite>